*{
margin: 0;
padding: 0;
}

.download_link{
display: block ruby;
}
.group_card{
margin-top: 6rem;
display: grid;
justify-content: space-evenly;
grid-template-columns: auto auto auto;
}
.card{
width: 20rem;
height: 23rem;
border-radius: 10px;
filter: drop-shadow(2px 4px 1px black);

background-color: #dc14393b;
margin-bottom: 20px;
overflow: hidden;

}

.card_img{
width: 20rem;
height: 10rem;
}
.card_Text{ 
  text-align: center;
}
.card_tittle{

font-size: 22px;
}
.card_sec_title{
font-size: 15px;
padding-left: 14px;
margin-top: 10px;
text-align: justify;
margin-bottom: 10px;
}
.card_content{
font-size: 13px;
padding: 0px 10px;

}




@media screen and (max-width: 1100px) {
.group_card{


grid-template-columns: auto auto;
}
 
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
 .group_card{


grid-template-columns: auto;
}
}
