.Setting_BTN{
margin-top:-9px;
opacity: 0.6;
  transition: all 0.5s ease-in-out;
}
.Setting_BTN:hover {
  opacity: initial;
}
.spanBtn{display: inline-flex;
    width: 33vw;
    justify-content: right;}

@media (max-width: 992px) {

.spanBtn{display: inline-flex;
    width: 90vw;
    justify-content: right;}
}